@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); 
*
{
   
   color: #fff;
    font-family: 'Poppins',sans-serif;
    

}
body
{
    width: max-content;
    min-height: 100vh;
    background: linear-gradient(teal,purple) fixed;
}

.container
{
    
    position:relative;
    width:100%;
    height: 100vh;
    left: 10%;
    top: 10%;
}
#canvas1,
#canvas2,
#canvas3 {
    position: relative;
    width: 400px;
    border: 2px solid #fff; /* White border */
    border-radius: 5px;
    
}

.reset
{
    justify-content: center;
    top:-30%;
    position:relative;
    left: 9%;
    color: #fff;
    border-radius: 5%;
    cursor: pointer;
    background: linear-gradient(teal,blue);
    font-weight: 500;
    height:10%;
    width: 10%;
    border: 2px solid #fff;
    letter-spacing: 1px;
}  

.merge
{
    justify-content: center;
    top:-30%;
    position:relative;
    left: 9%;
    color: #fff;
    border-radius: 5%;
    cursor: pointer;
    background: linear-gradient(teal,blue);
    font-weight: 500;
    height:10%;
    width: 10%;
    border: 2px solid #fff;
    letter-spacing: 1px;
}   
#fileInput1
{
    color:#fff;
}
#fileInput2
{
    color:#fff;
}


